body{
    background-color: black;
    padding: 0 10%;
    margin: 0;
}
.container{
    background-color: whitesmoke;
    margin: 0;
    padding: 0 0;
}
.header,
.content,
.footer{
    padding: 0 15%;
}
.header,
.footer{
    background-color: #1F2937;
}
.header-links a,
.hero-secondary{
    font-size: 18px;
    color: #E5E7Eb;
}

/* HEADER STYLES */
.header{
    display: flex;
    flex-direction: column;
}
.header-top{
    display: flex;
    justify-content: space-between;
}
.header-logo{
    font-size: 24px;
    color: #F9FaF8;
}
.header-links{
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-links li{
    list-style: none;
}
.header-links a{
    text-decoration: none;
}
.header-bottom{
    display: flex;
    align-items: center;
}
.header-bottom-left p{
    margin-bottom: 0px;  
}
.hero-main{
    font-size: 48px;
    font-weight: 800; 
    color: #F9FaF8;
}

.header-bottom-left button{
    background-color: #3882F6;
    height: 25px;
    width: 90px;
    border-radius: 5px;
    margin: 5px 0px;
}
.header-image-placeholder{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 160px;
    width: 350px;
    background-color: darkgray; 
}

/* CONTENT STYLES */
.content{
    display: flex;
    flex-direction: column;
}
.image-gallery{
    align-self: center;
    display: flex;
    flex-direction: column;
}
.image-gallery h3{
    align-self: center;
}
.gallery-items{
    display: flex;
    gap: 36px;
}
.gallery-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image-gallery .img-placeholder{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 110px;
    width: 115px;
    border: 2px solid blue;
    border-radius: 10px;
}

/* QUOTE SECTION STYLES */

.quote{
    display: flex;
    flex-direction: column;
    background-color: #E5E7Eb;
    margin: 0;
    padding: 0;
}
.quote p:first-of-type{
    padding: 0 10%;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.citation{
    align-self:flex-end;
    padding-right: 20%;
    font-weight: bold;
    font-size: 16px;
}

/* CALL TO ACTION STYLES */

.call-to-action{
    background-color: #3882F6;
    margin: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.action-right p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    border: 1px solid white;
    border-radius: 10px;
}
.action-right p a{
    text-decoration: none;
    color: white;
}

/* FOOTER STYLES */

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    color: white;
    font-size: 12px;
}